In [3]:
import pandas as pd
import os
import random
from datetime import datetime

In [4]:
os.listdir()

['.git',
 '.gitattributes',
 '.ipynb_checkpoints',
 'generate_initial_values.ipynb',
 'README.md',
 'var_correlations.csv',
 'var_definitions.csv',
 'var_values.csv']

In [5]:
var_definitions = pd.read_csv('var_definitions.csv')
var_definitions

  variable_id variable_code   variable_name
0        id_1         ALPHA  Variable Alpha
1        id_2          BETA   Variable Beta
2        id_3         GAMMA  Variable Gamma
3        id_4         DELTA  Variable Delta

In [6]:
var_values = pd.read_csv('var_values.csv')
var_values.head()

  variable_id  as_of_date submit_date  value
0        id_1  2021-01-01  2021-03-29     14

## generate random values for each variable from Jan 1st 2021 to Mar 25th 2021

In [7]:
dates = pd.bdate_range('2021-01-01','2021-03-25').tolist()
len(dates)

60

In [8]:
values = pd.DataFrame()
for v in var_definitions.variable_id:
    tmp = pd.DataFrame([(v, dates[i], datetime.today().strftime('%Y-%m-%d'), random.randrange(-6,12)) for i in range(len(dates))], columns = ['variable_id', 'as_of_date', 'submit_date', 'value'],)
    values = values.append(tmp)

values

   variable_id as_of_date submit_date  value
0         id_1 2021-01-01  2021-03-31      3
1         id_1 2021-01-04  2021-03-31      5
2         id_1 2021-01-05  2021-03-31      0
3         id_1 2021-01-06  2021-03-31     -2
4         id_1 2021-01-07  2021-03-31     11
..         ...        ...         ...    ...
55        id_4 2021-03-19  2021-03-31     -6
56        id_4 2021-03-22  2021-03-31      1
57        id_4 2021-03-23  2021-03-31      8
58        id_4 2021-03-24  2021-03-31      9
59        id_4 2021-03-25  2021-03-31      8

[240 rows x 4 columns]

In [9]:
values.to_csv('var_values.csv', index = False)